body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    min-height: 100vh;
    background: linear-gradient( to right bottom,#000, #cc0000);
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
}

.container{
    padding: 40px 0;
}

figure{
    max-width: 800px;
    margin: 0 auto 40px;
    padding-top: 65px;  
}
figure img{
    display: block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5%;
    border: 2px solid #000;
}

.thumb_img_list{
    text-align: center;
}
.thumb_img_list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.thumb_img_list ul li{
    display: inline-block;
    border-radius: 5%;
    border: 1px solid #000;
    width: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.thumb_img_list ul li img{
    display: block;
}